<form id="login-form" class="login-form">
    <div class="form-email">
        <label for="input-email">Your email here</label>
        <input id="input-email" class="input-email" name="email" type="email">
    </div>
    <div class="form-password">
        <label for="input-password">Your password here</label>
        <input id="input-password" class="input-password" name="password" type="password">
        <a href="#"><p>Forgot your password ?</p></a>
    </div>
    <span id="form-error" class="form-error" hidden>â—Email ou senha incorretos</span>
    <div class="form-button"><button type="submit">Login</button></div>
</form>
