.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 1rem;
}

.form-password > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #51D6FF;
    text-decoration: none;
    font-size: 0.8rem;
}

.form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.form-email, .form-password {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;
    font-size: 0.95rem;
    width: 80%;
    max-width: 600px;
}

.form-error {
    color: red;
    font-size: 1rem;
    background-color: rgb(255, 219, 219);
    padding: 10px;
    border-radius: 30px;
    border: 2px solid red;
}

.form-button {
    width: 100%;
}

.form-button > button {
    width: 50%;
    max-width: 200px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    font-family: 'Itim', cursive;
    font-size: 1.3rem;
    background-color: #A6DBBC;
    color: #009B42;
}

.input-email , .input-password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-password > a {
    font-size: 0.9rem;
}

